#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 30px solid rgb(160, 160, 160); 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.frame--scroll {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: hsl(0 0% 50%);
}

.frame__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cbcbcc85;
  height: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-top: auto;
  position: relative;
}

.frame__img {
  width: 30px;
  height: 30px;
}

.frame__img:hover {
  width: 25px;
  height: 25px;
  background-position: center center;
}

.frame__img:active {
  opacity: .4;
}

@media (max-width: 628px) {
  .frame {
    border: 20px solid rgb(160, 160, 160); 
  }
}

@media (max-width: 400px) {
  .frame {
    border: 10px solid rgb(160, 160, 160); 
  }
}